@media screen and (min-width: 720px) {
  nav {
    grid-column: 1/13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(to bottom, rgb(94, 92, 103, 1), rgba(94, 92, 103, 0.9), rgb(94, 92, 103, 0.8), rgba(94, 92, 103, 0.7), rgb(94, 92, 103, 0.6));
  }
  .logo {
    justify-content: center;
    width: 30%;
    height: 10vh;
    float: left;
  }
  menu {
    justify-content: center;
    width: 65%;
    height: 10vh;
    float: right;
  }
  nav menu ul li a img {
    display: none;
  }
  nav menu ul li a p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    padding: 0px 5px 0px 5px;
  }
  ul li :hover {
    font-size: 1.2rem;
    color: blue;
  }
  .active {
    height: 25px;
    border-bottom: 1px solid blue;
    /* background: linear-gradient(to bottom, rgba(52, 198, 244, 0.25), rgba(255, 255, 255, 0.75), rgb(255, 255, 255, 1), rgba(255, 255, 255, 0.75), rgb(52, 198, 244, 0.25)); */
    /* box-shadow: 0px 2px 3px rgb(0, 0, 0); */
  }
  section#galery .boxgalery {
    padding: 15px 0px 15px 0px;
    gap: 15px;
  }
  section#galery .gb {
    width: 280px;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 3px black;
  }
  section#galery .gbp {
    width: 280px;
    height: 280px;
    border-radius: 5px;
  }
  section#galery .gbh {
    width: 280px;
    height: 75px;
    text-align: center;
    border-radius: 5px;
  }
  section#galery .gbt {
    width: 280px;
    height: 75px;
    text-align: center;
    border-radius: 5px;
  }
  .imgslide {
    width: 700px;
    height: 259px;
  }
  section#service .text {
    width: 400px;
    height: 300px;
    justify-content: space-between;
  }
  section#ourteam .ourteam {
    flex-direction: row;
    flex-wrap: wrap;
  }
  section#ourteam .ourteam .data .otimg {
    width: 240px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
  }
  section#ourteam h1 {
    font-size: 2.5rem;
  }
  .copyright {
    align-items: center;
    align-items: center;
    margin-top: 0px;
    height: 5vh;
    font-size: 1rem;
  }
}
