body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh auto auto 50vh 50vh auto 50vh auto;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
menu {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
}
ul li :hover {
  width: 60px;
  height: 60px;
}
.active {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(to bottom, rgba(52, 198, 244, 0.25), rgba(255, 255, 255, 0.75), rgb(255, 255, 255, 1), rgba(255, 255, 255, 0.75), rgb(52, 198, 244, 0.25)); */
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
}
section#home {
  grid-column: 1/13;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#service {
  grid-column: 1/13;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section#service .text h1 {
  font-size: 2rem;
}
section#service .potraid {
  width: 280px;
  height: 350px;
  background-image: url(/img/pngegg2b.png);
  background-size: cover;
}
section#galery {
  grid-column: 1/13;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 204, 204);
}
section#testimony {
  grid-column: 1/13;
  grid-row: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
section#ourteam {
  grid-column: 1/13;
  grid-row: 6;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(220, 220, 220);
}
#ourteam h1 {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
}
#ourteam .left {
  width: 30%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#ourteam .left .otlimg {
  width: 240px;
  height: 300px;
  background-image: url(/img/potraid2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#ourteam .center {
  width: 30%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#ourteam .center .otcimg {
  width: 240px;
  height: 300px;
  background-image: url(/img/potraid2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#ourteam .right {
  width: 30%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#ourteam .right .otrimg {
  width: 240px;
  height: 300px;
  background-image: url(/img/potraid2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section#mapping {
  grid-column: 1/13;
  grid-row: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
footer {
  grid-column: 1/13;
  grid-row: 8;
}
.address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footerb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sm {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 720px) {
  nav {
    grid-column: 1/13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(to bottom, rgb(94, 92, 103, 1), rgba(94, 92, 103, 0.9), rgb(94, 92, 103, 0.8), rgba(94, 92, 103, 0.7), rgb(94, 92, 103, 0.6));
  }
  .logo {
    justify-content: center;
    width: 40%;
    height: 10vh;
    float: left;
  }
  .logo2 {
    width: 100%;
    height: 10vh;
    background-image: url(/img/logoNP.png);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }
  menu {
    justify-content: center;
    width: 50%;
    height: 10vh;
    float: right;
  }
  .imgslide {
    width: 700px;
    height: 259px;
  }
  section#service .text {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  section#ourteam .ourteam {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: rgb(220, 220, 220);
  }
  .copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
  }
}
@media screen and (max-width: 719px) {
  .logo {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 10vh;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(94, 92, 103, 1), rgba(94, 92, 103, 0.9), rgb(94, 92, 103, 0.8), rgba(94, 92, 103, 0.7), rgb(94, 92, 103, 0.6));
    box-shadow: 0px 0px 5px white;
  }
  .logo2 {
    width: 100%;
    height: 10vh;
    background-image: url(/img/logoNP.png);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }
  menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 10vh;
    background: linear-gradient(to bottom, rgb(94, 92, 103, 0.55), rgba(94, 92, 103, 0.7), rgb(94, 92, 103, 0.85), rgba(94, 92, 103, 1), rgb(94, 92, 103, 1));
    box-shadow: 0px 0px 5px white;
  }
  .imgslide {
    width: 500px;
    height: 185px;
  }
  section#service .text {
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section#ourteam .ourteam {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
  }
  .copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 13vh;
  }
}
